<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ groupid }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

</head>
<body>
	<form action="{{ url_for('group_view') }}" method="POST">
        <h2>Insert Chore for Group: {{ groupid }}</h2>
        <input type = "hidden" name = "groupid" value = {{groupid}} >  
		<label for="title">Title:</label>
		<input type="text" id="title" name="title">

		<label for="description">Description:</label>
		<input type="text" id="description" name="description" >
        
		<label for="assignee">Assignee:</label>
		<input type ="text" id="assignee" name="assignee">
		<button type="submit">Add Chore</button>

	</form>
    {% for chore in chores %} 
    {% if chore['chore-group-id'] == groupid %}
        {{chore.title}}
        {{chore.description}}
        {{chore.assignee}}
        <br>
    {% endif %}
    {% endfor %}
</body>


</html>