<!DOCTYPE html>
<html>
<head>
	<title>Chore Share</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
</head>

<body>
	<div class="header">
		<h1 class="title">Chore Share</h1>
	</div>
	<div class="container">
		<p class="tagline2">Sharing chores with your group has never been easier</p>
		<div class="buttons">
			<a href="joingroup"><button class="join-btn">Join Group</button></a>
			<a href="creategroup"><button class="join-btn">Create Group</button></a>
		</div>
        
	</div>
</body>
</html>
